<%= form_for(kind) do |f| %>
  <% if kind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kind.errors.count, "error") %> prohibited this kind from being saved:</h2>

      <ul>
      <% kind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :description, placeholder: 'Descrição...' %>
  </div>

  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
