<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr style="background: <%= cycle('#F7F7F7', '#DCDCDC') %>">
        <td><%= kind.description %></td>
        <td><%= link_to t('buttons.edit'), edit_kind_path(kind) %></td>
        <td><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('buttons.home'), root_path, class: "btn btn-default" %>
<%= link_to t('buttons.new'), new_kind_path, class: 'btn btn-primary pull-right' %>
