<script>
  $.notify("<%= notice %>", "success");
</script>

<h1><%= "#{@contacts.model.model_name.human(count: @contacts.count)}" %></h1>

<%= render partial: "contacts/shared/contacts" %>

<br>
<div style="text-align: center">
<%= paginate @contacts %>
</div>
<br>

<%= link_to t('buttons.home'), root_path, class: "btn btn-default" %>
<%= link_to t('buttons.new'), new_contact_path, class: "btn btn-primary pull-right" %>
