<!DOCTYPE html>
<html>
  <head>
    <title>contac.to</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag params[:controller] %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'alert', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
  <br>
  <p class="text-center text-muted">
  <%= link_to image_tag("contacts-logo.png", :alt => "contac.to", :width => "50"), root_path %>
  <br>
contac.to
<br>
  <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'btn btn-default btn-xs' %>
  </p>
  <div class="basic-grey">

<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="<% if params[:controller] == 'kinds' %>active<% end %>">
    <%= link_to "Tipos", kinds_path %>
  </li>
  <li role="presentation" class="<% if params[:controller] == 'contacts' %>active<% end %>">
    <%= link_to "Contatos", contacts_path %>
  </li>
  <li role="presentation" class="<% if params[:controller] == 'devise/registrations' %>active<% end %>">
    <%= link_to "Perfil", edit_user_registration_path %>
  </li>
</ul>
<br>
    <%= yield %>
  </div>
  <br>
  <footer class="text-center">
  <%= link_to image_tag("github-logo.png", :alt => "Github", :width => "48"), "https://github.com/leandromac/notebook", target: "_blank" %>
  </footer>
  </body>
</html>
