<!DOCTYPE html>
<html>
  <head>
    <title>contac.to</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag params[:controller] %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'alert', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
  <br>
  <p class="text-center text-muted">
  <%= link_to image_tag("contacts-logo.png", :alt => "contac.to", :width => "50"), root_path %>
  <br>
contac.to
  </p>
  <div class="basic-grey">
    <%= yield %>
  </div>
  <br>
  <footer class="text-center">
  <%= link_to image_tag("github-logo.png", :alt => "Github", :width => "48"), "https://github.com/leandromac/notebook", target: "_blank" %>
  </footer>
  </body>
</html>
